{% if checked is defined %}
<th style="width: 12px;"><input type="checkbox" class="checkall"" {{ checked }}></th>
{% endif %}
<th>ID</th>
<th>Virgin</th>
<th>Male</th>
<th class="dates">
  <div>Setup date</div><div>Check date</div>
</th>
<th>From</th>
<th>Status</th>
