{% extends "VIBFliesBundle:CrossVial:layout.html.twig" %}
{% use "VIBBaseBundle:List:table.html.twig" %}
{% import "VIBBaseBundle:Macros:list.html.twig" as l %}
{% import 'VIBBaseBundle:Macros:status.html.twig' as status %}

{% if form is defined %}
  {% form_theme form _self %} 
  {% block _select_items_row %}{% endblock %}
{% endif %}

{% block headline %}Crosses{% endblock headline %}

{% block list_selector %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
{% endblock list_selector %}

{% block list_header %}
  {% include 'VIBFliesBundle:CrossVial:list_head.html.twig' with {'checked' : ''} %}
{% endblock list_header %}

{% block list_item %}
  {% include 'VIBFliesBundle:CrossVial:list_row.html.twig' with {'entity': entity} %}
{% endblock list_item %}

{% block list_buttons %}
<div class="btn-group">
  <button type="submit" class="btn btn-primary" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip
  </button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('flip'); $('form').submit();"><b>Flip</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('fliptrash'); $('form').submit();">Flip & trash</a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button type="submit" class="btn btn-danger" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash
  </button>
  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('trash'); $('form').submit();"><b>Trash</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('marksterile'); $('form').submit();">Mark as sterile</a>
    </li>
  </ul>
</div>
{% if can_print() %}
<div class="btn-group">
  <button type="submit" class="btn" onclick="$('#select_action').val('print'); $('form').submit();">
    Print labels
  </button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('print'); $('form').submit();"><b>Print</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('label'); $('form').submit();">Download PDF</a>
    </li>
  </ul>
</div>
{% else %}
  <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Download label PDF
  </button>
{% endif %}
{% endblock list_buttons %}
