{% extends "VIBFliesBundle:CrossVial:layout.html.twig" %}
{% use "VIBBaseBundle:List:table.html.twig" %}
{% import "VIBBaseBundle:Macros:list.html.twig" as l %}
{% import 'VIBBaseBundle:Macros:status.html.twig' as status %}

{% if form is defined %}
  {% form_theme form _self %} 
  {% block _select_items_row %}{% endblock %}
{% endif %}

{% block headline %}Crosses{% endblock headline %}

{% block list_header %}
  {% include 'VIBFliesBundle:CrossVial:list_head.html.twig' with {'checked' : ''} %}
{% endblock list_header %}

{% block list_item %}
  {% include 'VIBFliesBundle:CrossVial:list_row.html.twig' with {'entity': entity} %}
{% endblock list_item %}

{% block list_buttons %}
  {{ l.flip_button() }}
  <div class="btn-group">
    <button class="btn btn-danger" onclick="$('#select_action').val('trash'); $('form').submit();">
      Trash
    </button>
    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="first">
        <a href="#" onclick="$('#select_action').val('trash'); $('form').submit();"><b>Trash</b></a>
      </li>
      <li class="last">
        <a href="#" onclick="$('#select_action').val('marksterile'); $('form').submit();">Mark as sterile</a>
      </li>
    </ul>
  </div>
  {{ l.print_button() }}
  {{ l.incubate_button() }}
{% endblock list_buttons %}
