{% extends "VIBFliesBundle:CrossVial:list.html.twig" %}

{% block headline %}Select cross vials{% endblock headline %}

{% block table_attr %}id="select"{% endblock table_attr %}
{% block checkall_attr %}checked{%endblock checkall_attr %}

{% block list_selector %}
  <div class="form-horizontal well">
    <div class="form-group row">
      <div class="input-group col-sm-4">
        <input id="barcode" class="barcode form-control" type="text" placeholder="Scan your barcodes here" value=""
          onchange="checkVial('cross')" data-link="{{ path('vib_flies_ajax_vial')}}"
          data-rack-redirect="{{ path('vib_flies_rack_show',{'id': 0}) | replace({'/0': '/'}) }}" />
        <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
      </div>
      <div class="col-sm-8">
        <span class="help-block"></span>
      </div>
    </div>
  </div>
{% endblock list_selector %}

{% block list_header %}
  {% include 'VIBFliesBundle:CrossVial:list_head.html.twig' with {'checked' : 'checked'} %}
{% endblock list_header %}
