{% extends "VIBFliesBundle:CrossVial:list.html.twig" %}

{% block headline %}Select cross vials{% endblock headline %}

{% block table_attr %}id="select"{% endblock table_attr %}
{% block checkall_attr %}checked{%endblock checkall_attr %}

{% block list_selector %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
  <div class="form-inline control-group well">
    <input id="barcode" class="barcode" type="text" 
           placeholder="Scan your barcodes here" value="" 
           onchange="checkVial('cross')" data-link="{{ path('vib_flies_ajax_vial')}}"
           data-rack-redirect="{{ path('vib_flies_rack_show',{'id': 0}) | replace({'/0': '/'}) }}" />
    <span class="help-inline"></span>
  </div>
{% endblock list_selector %}

{% block list_header %}
  {% include 'VIBFliesBundle:CrossVial:list_head.html.twig' with {'checked' : 'checked'} %}
{% endblock list_header %}
