{% extends 'TwigBundle:Exception:layout.html.twig' %}
          
{% block error_icon %}
<i class="fa fa-thumbs-o-down text-info"></i>
{% endblock error_icon %}

{% block error_content %}
  <h1>{{ status_code }}</h1><h2>{{ status_text }}</h2>
  <h3>The requested resource was not found.</h3>
  <p>We have tried our best, but could not find what you have been looking for. Please verify that the specified
     URL is correct, or use the search form above to find what you have been looking for.</p>
  <p>If you believe this is an error, please us our <a href="https://bugzilla.vibfolks.eu">bug tracking system</a>
     or send an email to <a href="mailto:radoslaw.ejsmont@med.kuleuven.be">webmaster</a>
     describing what you were doing when this error occurred. We will fix it as soon as possible.</p>
{% endblock error_content %}
