{% extends 'TwigBundle:Exception:layout.html.twig' %}

{% block content %}
<div class="pull-left" style="font-size: 200px; margin-right: 50px;">
  <i class="icon-minus-sign text-error"></i>
</div>
<div>
  {% block error_content %}
  <h1>Forbidden</h1>
  <h2>The server returned "{{ status_code }} {{ status_text }}".</h2>
  <div>
      You are not allowed to access this resource. If you believe you should
      have access to this resource, please send an email to 
      <a href="mailto:radoslaw.ejsmont@med.kuleuven.be">webmaster</a>
      describing what you were doing when this error occurred. We will fix it
      as soon as possible.
  </div>
  {% endblock error_content %}
</div>
{% endblock content %}
