{% extends 'VIBSiteTemplateBundle::layout.html.twig' %}

{% block navbar %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ path('default') }}">LNG FlyDB</a>
        <div class="nav-collapse">
        {% render(controller("VIBFliesBundle:Search:form")) %}
        </div>
      </div>
    </div>
  </div>
{% endblock navbar %}

{% block container %}
  <div class="{% block container_class %}container{% endblock container_class %}">
    <div class="content exception">
      <div class="row no-header">
        {% block main_row %}
        <div class="error-icon">
          {% block error_icon %}
            <i class="icon-bug text-error"></i>
          {% endblock error_icon %}
        </div>
        <div>
          <div class="error-content">
          {% block error_content %}
            <h1>{{ status_code }}</h1><h2>{{ status_text }}</h2>
            <h3>Something seems to be broken.</h3>
            <p>Please us our <a href="https://bugzilla.vibfolks.eu">bug tracking system</a> or send an
               email to <a href="mailto:radoslaw.ejsmont@med.kuleuven.be">webmaster</a> describing what
               you were doing when this error occurred. We will fix it as soon as possible.</p>
          {% endblock error_content %}
          </div>
        </div>
        {% endblock main_row %}
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block content %}
  
{% endblock content %}
