{% extends "VIBSiteTemplateBundle::layout.html.twig" %}
{% use "VIBSiteTemplateBundle:Form:modal.html.twig" %}

{% block page_header %}{% endblock page_header %}
{% block main_row %}
<div class="span6 offset3">
  {% block content_row %}
  <div class="row-fluid no-header">
      {{ block('content') }}
  </div>
  {% endblock content_row %}
</div>
{% endblock main_row %}

{% block modal_header %}Please log in{% endblock modal_header %}

{% block modal_body %}
<div class="control-group">
    <label for="username" class="control-label required">Username:</label>
    <div class="controls">
        <input type="text" id="username" name="_username"
               value="{{ last_username }}" required="required" class="not-removable" />
    </div>
</div>
<div class="control-group">
    <label for="password" class="control-label required">Password:</label>
    <div class="controls">
        <input type="password" id="password" name="_password" required="required" class="not-removable" />
    </div>
</div>
<input type="hidden" name="_target_path" value="/" />
{% endblock modal_body %}

{% block modal_footer %}
<button type="submit" class="btn btn-primary">Login</button>
<button type="reset" class="btn">Cancel</button>
{% endblock modal_footer %}
