// TABLE HEAD BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped

.form-horizontal {
  .input-text {
    float: left;
    padding-top: 5px;
  }
}

.well-transparent {
  background: none;
  padding: 0px;
  form {
    margin-bottom: 0;
  }
  .modal-body {
    overflow-y: inherit;
    max-height: inherit;
  }
}

.input-append > .btn-group > .btn:first-child {
  .border-radius(0);
}
