// TABLE HEAD BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped

.table thead tr {
  &.success th {
    background-color: @successBackground;
  }
  &.error th {
    background-color: @errorBackground;
  }
  &.warning th {
    background-color: @warningBackground;
  }
  &.info th {
    background-color: @infoBackground;
  }
  &.info th {
    background-color: @infoBackground;
  }
  &.inverse th {
    background-color: @grayDark;
    color: @grayLighter;
  }
}

.table-plain {
  th,
  td {
    padding: 0 4px 0 0;
    border: none;
  }
}

.pagination {
  text-align: center;
}
