{% extends "VIBFliesBundle:Vial:layout.html.twig" %}

{% set display_action = path('vib_flies_injectionvial_list') %}
{% set vials_name = 'injections' %}

{% block headline %}Injection vials{% endblock headline %}

{% block sidebar_actions %}
<div class="panel panel-default panel-condensed">
  <div class="panel-heading">
    <h3 class="panel-title"><a data-toggle="collapse" href="#actions">Actions</a></h3>
  </div>
  <ul id="actions" class="list-group collapse mobile-collapsed in">
    <li class="list-group-item"><a href="{{ path('vib_flies_injectionvial_create') }}">New injection</a></li>
    <li class="list-group-item"><a href="{{ path('vib_flies_injectionvial_select') }}">Select injections</a></li>
    <li class="list-group-item"><a href="{{ path('vib_flies_vial_give') }}">Give vial</a></li>
  </ul>
</div>
{% endblock sidebar_actions %}
