{% if checked is defined %}
<th style="width: 12px;"><input type="checkbox" id="checkall" {{ checked }}></th>
{% endif %}
<th>ID</th>
<th>Construct</th>
<th>Stock</th>
<th>Type</th>
<th class="dates">
  <div>Injection date</div><div>Check date</div>
</th>
<th>Status</th>
