/bin/
/components/
web/bundles/
web/media/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar

## generic files to ignore
*~
*.DS_Store
*.swp
*.out

## IDE files to ignore
bootstrap.sublime-workspace
nbproject/
.idea/
*.tmproj
.buildpath
.project
.settings/

# envvars
bin/envvars

# to have the possibility to have an own htaccess e.g. with protection (as on prod)
web/.htaccess

# ignore parameters so everone can have its own
app/config/parameters.yml
app/config/security.yml

# ignore files dumped by assetic
web/css
web/js
/app/Resources/db/test.db
/web/font/
