// TABLE HEAD BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped

.form-horizontal {
  .input-text {
    padding-top: 7px;
  }
  span.input-text {
    display: block;
  }
}

.well-modal {
  border-radius: 6px;
  background: none;
  padding: 0px;
  form {
    margin-bottom: 0;
  }
  .modal-body {
    overflow-y: inherit;
    max-height: inherit;
  }
  .modal-footer .btn-group,
  .modal-footer .btn {
    text-align: left;
  }
}

.input-append > .btn-group > .btn:first-child {
  border-radius: 0;
}

.modal-danger,
.modal-error {
  border-color: @state-danger-border;
  color: @state-danger-text;
  .modal-header,
  .modal-footer {
    border-color: @state-danger-border;
  }
  .modal-footer {
    background-color: @state-danger-bg;
  }
}

.modal-body > .help-inline {
  padding-left: 0;
  margin-bottom: 20px;
}

.form-inline .help-block {
  margin-bottom: 0;
}
