{% block content %}
<div class="well well-modal">
  <div class="form-horizontal">
    <div class="modal-header">
      <h3>{% block modal_header %}{% endblock modal_header %}</h3>
    </div>
    <div class="modal-body">
      {% block modal_body %}{% endblock modal_body %}
    </div>
    <div class="modal-footer">
      {% block modal_footer %}{% endblock modal_footer %}
    </div>
  </div>
</div>
{% endblock %}
