parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     3306
    database_name:     labdb
    database_user:     root
    database_password: ~

    memcached_host:    localhost
    memcached_port:    11211

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    print_host:        ~
    print_queue:       ~

    knp_paginator.template.pagination: MopaBootstrapBundle:Pagination:sliding.html.twig

    google_analytics:    'UA-xxxxxxxx-x'
    google_verification: 'xxx'
