{% extends "VIBFliesBundle::layout.html.twig" %}

{% block content %}
    <h1>Edit stock {{ stock.name }}</h1>
    {% include 'VIBFliesBundle:FlyStock:_form.html.twig'
       with {'form': form} %}
{% endblock %}
