{% extends "VIBFliesBundle:StockVial:layout.html.twig" %}
{% use "VIBSiteTemplateBundle:Form:form.html.twig" %}
{% import "VIBSiteTemplateBundle:Macros:form.html.twig" as f %}

{% set source = form.vars.value.source %}

{% block modal_header %}
  Expand vial
{% endblock modal_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% if source is not null %}
    <a href="{{ path('vib_flies_stockvial_show', { 'id': source.id }) }}" class="btn">Cancel</a>
  {% else %}
    <a href="{{ path('vib_flies_stockvial_list') }}" class="btn">Cancel</a>
  {% endif %}
{% endblock modal_footer %}
