<thead>
    <tr>
        {% if checkbox is not empty %}
            <th><label><input type="checkbox" id="checkall" checked="checked"></label></th>
        {% endif %}
        <th>Vial</th>
        <th colspan="2">Virgin</th>
        <th colspan="2">Male</th>
        <th>Setup date</th>
        <th>Check date</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
{% for cross in crosses %}
    {% include 
        'VIBFliesBundle:FlyCross:_cross_row.html.twig'
        with {'cross': cross, 'class': class, 'checkbox': checkbox} %}
{% endfor %}
</tbody>
