{% extends "VIBFliesBundle:FlyCross:list.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

{% block pheader %}Select crosses{% endblock %}
    
{% block selector %}
<table id="barcode_select">
    <tr>
        <th><label for="barcode">To select vials, scan barcodes here:</label></th>
        <td><input id="barcode" type="text" value="" onchange="checkVial('cross')" /></td>
        <td id="barcode_error"></td>
    </tr>
</table>
{% endblock %}

{% block pager %}{% endblock %}

{% block actionbutton %}
    {{ jq.button('Cancel',path('flycross_list'),'ui-icon-closethick') }}
{% endblock %}