{% extends "MpiCbgFliesBundle::layout.html.twig" %}

{% block content %}
    <h1>New bottle</h1>
    {% include 'MpiCbgFliesBundle:CultureBottle:_form.html.twig'
       with {'form': form} %}
{% endblock %}
