<div class="nav-list well">
  <span class="nav-header">Printer settings</span>
  <label class="checkbox">
    <input type="checkbox" id="autoprint"
           {% if autoprint %}checked {% elseif not can_print() %}disabled {% endif %}
           data-link="{{ path('vib_flies_autoprint_setautoprint') }}" onchange="setAutoPrint(this)"/>
    Automagic label printing
  </label>
</div>
