<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('default') }}">LabDB</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="first">
            <a href="{{ path('vib_flies_stock_list') }}">Flies</a>
          </li>
          <li>
            <a href="{{ path('vib_antibody_antibody_list') }}">Antibodies</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

