/* 
    Document   : nav_top.css
    Created on : Dec 2, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        Top navigation bar style sheet.
*/

nav.top {
    display: block;
    margin: -8px -8px 0px -8px;
    padding: 0px;
    border-width: 0px 0px 1px 0px;
    height: 25px;
}

nav.top ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav.top ul li {
    float: left;
}

nav.top ul li a
{
    display: block;
    padding: 1px 0px 0px 0px;
    border-radius: 0px;
    border-width: 0px 1px 1px 0px;
    height: 24px;
}

nav.top ul li a.ui-state-hover,
nav.top ul li a.ui-state-active {
    border-width: 0px 1px 1px 1px;
    margin: 0px 0px 0px -2px;
    padding: 1px 1px 0px 1px;
}

nav.top li#logout {
    float: right;
}

nav.top li#logout a {
    border-right: 0px;
}

nav.top li#logout a.ui-state-hover,
nav.top li#logout a.ui-state-active {
    border-right: 0px;
}
