/* 
    Document   : pager.css
    Created on : Oct 11, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        Pager style sheet.
*/

nav.pager {
    display: table;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav.pager > span {
    display: table-cell;
    text-align: center;
}

nav.pager > span:first-child {
    width: 100px;
    text-align: left;
}

nav.pager > span:last-child {
    width: 100px;
    text-align: right;
}