/* 
    Document   : search.css
    Created on : Oct 11, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        Search form style sheet.
*/

#search {
    border: none;
    border-collapse: collapse;
    margin: 0px 6px;
    padding: 0px;
    height: 25px;
    display: table;
    float: right;
}

#search > span {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 2px;
}

#search button[type="submit"] {
    margin: 0px;
    height: 21px;
}

#search button[type="submit"] span {
    padding: 0px 6px;
    font-weight: bold;
}

#search input[type="search"].ui-state-default {
    background: white;
}

#search input[type="submit"]
{
    font-weight: bold;
}

#search select {
    width: 100px;
}

#search #SearchType_filter-button {
    display: block;
    height: 19px;
}

#search #SearchType_filter-button span.ui-button-text {
    padding-top: 2px;
}

#search #SearchType_filter-button span.ui-button-text {
    padding-top: 2px;
}