/* 
    Document   : general.css
    Created on : Oct 11, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        General style sheet.
*/

table.data
{
    margin-bottom: 24px;
}

table.data td,
table.data th {
    color: black;
    padding: 2px;
    border: none;
    background: none;
}

table.data th {
    vertical-align: top;
    text-align: right;
    padding: 8px 12px 8px 0px;
}

table.data td {
    vertical-align: middle;
    text-align: left;
}

table.data tr {
    background: transparent;
}

table.data tbody tr:nth-child(3n+0) {
    background: transparent;
}

table.data tr:hover {
    background: transparent;
}

table.data td ul {
    margin: 0px;
    padding: 0px;
    min-height: 18px;
    list-style: none;
}

table.data td li {
    margin-top: 6px;
}
