{% extends "VIBFliesBundle:Vial:layout.html.twig" %}
{% use "VIBSiteTemplateBundle:Form:form.html.twig" %}
{% import "VIBSiteTemplateBundle:Macros:form.html.twig" as f %}

{% block headline %}Racks{% endblock headline %}
{% block modal_header %}New rack{% endblock modal_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% set value = form.vars.value.rack %}
  {% if value.id is not null %}
    {% if is_granted('ROLE_ADMIN') or is_granted('DELETE',value) %}
    <a href="{{ path(name ~ '_delete', { 'id': value.id }) }}" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{{ path(name ~ '_show', { 'id': value.id }) }}" class="btn btn-default">Cancel</a>
  {% else %}
    <a href="{{ path('vib_flies_vial_list') }}" class="btn btn-default">Cancel</a>
  {% endif %}
{% endblock modal_footer %}
