{% extends "VIBFliesBundle:Vial:layout.html.twig" %}
{% use "VIBBaseBundle:Delete:modal.html.twig" %}
{% import "VIBBaseBundle:Macros:delete.html.twig" as d %}

{% block headline %}Racks{% endblock headline %}
{% block modal_header %}Delete rack {{ entity }}{% endblock modal_header %}

{% block modal_body %}
  <h4>Are you sure you want to delete this rack?</h4>
  <p>
    Vials that were assiciated with it <strong>will not</strong> be deleted.
    They will be simply unassigned from this rack.
  </p>
  <h4>This operation cannot be undone.</h4>
{% endblock %}

{% block modal_footer %}
  {{ d.buttons(entity,'vib_flies_rack') }}
{% endblock modal_footer %}
