{% extends "VIBBaseBundle::layout.html.twig" %}

{% block headline %}Racks{% endblock headline %}

{% block content_sidebar %}
<ul class="nav nav-list well">
  <li class="nav-header">Racks</li>
</ul>
{% endblock content_sidebar %}
