{% extends "VIBFliesBundle:Vial:layout.html.twig" %}
{% use "VIBSiteTemplateBundle:Show:modal.html.twig" %}
{% import "VIBSiteTemplateBundle:Macros:show.html.twig" as s %}

{% block headline %}Incubators{% endblock headline %}

{% block modal_header %}
  Incubator {{ entity }}
{% endblock modal_header %}

{% block modal_body %}
  {{ s.row("Name", entity.name) }}
  {{ s.row("Temperature", entity.temperature) }}
{% endblock modal_body %}

{% block modal_footer %}
  {% if is_granted('ROLE_ADMIN') or is_granted('EDIT',entity) %}
    <a href="{{ path('vib_flies_incubator_edit', { 'id': entity.id }) }}" class="btn btn-primary">Edit</a>
  {% endif %}
{% endblock modal_footer %}
