{% macro buttons(value,name) %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% if value.id is not null %}
    {% if is_granted('ROLE_ADMIN') or is_granted('DELETE',value) %}
    <a href="{{ path(name ~ '_delete', { 'id': value.id }) }}" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{{ path(name ~ '_show', { 'id': value.id }) }}" class="btn">Cancel</a>
  {% else %}
    <a href="{{ path(name ~ '_list') }}" class="btn">Cancel</a>
  {% endif %}
{% endmacro %}
