{% extends "VIBFliesBundle:Vial:layout.html.twig" %}
{% use "VIBBaseBundle:Form:form.html.twig" %}
{% import "VIBBaseBundle:Macros:form.html.twig" as f %}

{% set source = form.get('value').source %}

{% block modal_header %}
  Expand vial
{% endblock modal_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% if source is not null %}
    <a href="{{ path('vib_flies_vial_show', { 'id': source.id }) }}" class="btn">Cancel</a>
  {% else %}
    <a href="{{ path('vib_flies_vial_list') }}" class="btn">Cancel</a>
  {% endif %}
{% endblock modal_footer %}
