{% extends "VIBBaseBundle::layout.html.twig" %}

{% block headline %}Vials{% endblock headline %}

{% block content_sidebar %}
<ul class="nav nav-list well">
  <li class="nav-header">List</li>
  <li><a href="#">List my vials</a></li>
  <li><a href="#">List all vials</a></li>
</ul>
{% endblock content_sidebar %}
