{% extends "VIBBaseBundle:List:table.html.twig" %}

{% form_theme form _self %} 
{% block _select_items_row %}{% endblock %}

{% block headline %}Vials{% endblock headline %}

{% block list_selector %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
{% endblock list_selector %}

{% block list_header %}
  <th style="width: 12px;"><input type="checkbox" id="checkall" {% block checkall_attr %}{%endblock checkall_attr %}></th>
  <th style="width: 100px;">ID</th>
  <th>Contents</th>
  <th style="width: 150px;">Setup date</th>
  <th style="width: 150px;">Flip date</th>
  <th style="width: 100px;">Flipped from</th>
  <th style="width: 100px;">Status</th>
{% endblock list_header %}

{% block list_item %}
  {% include 'VIBFliesBundle:Vial:list_row.html.twig' with {'entity': entity} %}
{% endblock list_item %}

{% block list_buttons %}
  <a href="{{ path('vib_flies_vial_expand') }}" class="btn">Expand</a>
  <a href="{{ path('vib_flies_vial_select') }}" class="btn">Select</a>
  <button type="submit" class="btn" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Print labels</button>
{% endblock list_buttons %}
