{% if checked is defined %}
<th style="width: 12px;"><input type="checkbox" id="checkall" {{ checked }}></th>
{% endif %}
<th>ID</th>
<th>Contents</th>
<th class="dates">
  <div>Setup date</div><div>Flip date</div>
</th>
<th>From</th>
<th>Status</th>
