{% extends "VIBFliesBundle:Vial:list.html.twig" %}

{% block headline %}Select vials{% endblock headline %}

{% block table_attr %}id="select"{% endblock table_attr %}

{% block list_selector %}
    <div class="well">
      <div class="form-inline">
        <div class="form-group row">
          <div class="col-sm-4">
            <div class="input-group">
              <input id="barcode" class="barcode form-control" type="text" placeholder="Scan your barcodes here" value=""
                     onchange="checkVial()" data-link="{{ path('vib_flies_ajax_vial')}}"
                     data-rack-redirect="{{ path('vib_flies_rack_show',{'id': 0}) | replace({'/0': '/'}) }}" autofocus="autofocus"/>
              <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
            </div>
          </div>
          <div class="col-sm-8">
            <span class="help-block"></span>
          </div>
        </div>
      </div>
    </div>
{% endblock list_selector %}

{% block list_header %}
  {% include 'VIBFliesBundle:Vial:list_head.html.twig' with {'checked' : 'checked'} %}
{% endblock list_header %}
