{% extends "VIBFliesBundle:Vial:list.html.twig" %}

{% block headline %}Select vials{% endblock headline %}

{% block table_attr %}id="select"{% endblock table_attr %}

{% block list_selector %}
  <div class="form-inline control-group well">
    <input id="barcode" class="barcode" type="text"
           placeholder="Scan your barcodes here" value=""
           onchange="checkVial()" data-link="{{ path('vib_flies_ajax_vial')}}"
           data-rack-redirect="{{ path('vib_flies_rack_show',{'id': 0}) | replace({'/0': '/'}) }}" />
    <span class="help-inline"></span>
  </div>
{% endblock list_selector %}

{% block list_header %}
  {% include 'VIBFliesBundle:Vial:list_head.html.twig' with {'checked' : 'checked'} %}
{% endblock list_header %}
