/* 
    Document   : general.css
    Created on : Oct 11, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        General style sheet.
*/

/* General styles */

body {
    font-family: sans-serif;
    font-size: small;
}

a:link:not(.ui-widget) {
    color: black;
    text-decoration: none;
}

a:hover:not(.ui-widget) {
    text-decoration: none;
}

a:visited:not(.ui-widget) {
    color: black;
}

/* Form element styles */

input[type='search'] {
    -webkit-appearance: textfield;
    background-color: white;
}

input {
    border-radius: 4px;
    color: black;
    font-weight: normal;
    padding: 3px 4px 3px 4px;
    min-height: 14px;
}

input:focus {
    outline-style: none;
    border-width: 2px;
    padding: 2px 3px 2px 3px;
}

input,
input.ui-state-default {
    background-image: none;
    background-color: white;
}

/* jQuery-UI overrides */

.ui-widget {
    font-size: smaller;
    outline-style: none;
}

.ui-checkbox label {
    padding: 9px;
    margin: 0px;
}



/* Content styles */

#content {
    font-size: 1em;
}
