/* 
    Document   : general.css
    Created on : Oct 11, 2011, 5:39:43 PM
    Author     : ejsmont
    Description:
        General style sheet.
*/

body {
    margin: 0px;
    padding: 5px;
    color: black;
    font-family: sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

nav {
    margin: -5px;
    padding: 0px;
    background-color: lightgray;
}

nav a {
    display: inline-block;
    padding: 5px;
}

nav a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

nav #logout {
    float: right;
}

table {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
    border: 1px solid black;
}

thead tr {
    background-color: black;
    color: white;
}

tbody tr {
    background-color: white;
}

tbody tr:nth-child(3n+0) {
    background-color: lightgray;
}