{% extends "MpiCbgFliesBundle::layout.html.twig" %}

{% block content %}
    <h1>New stock</h1>
    {% include 'MpiCbgFliesBundle:FlyStock:_form.html.twig'
       with {'form': form} %}
{% endblock %}
