{% extends "VIBBaseBundle:Form:form.html.twig" %}

{% block modal_header %}Edit vial {{ form.get('value').name }}{% endblock modal_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset" class="btn">Reset</button>
  <a href="{{ path('flyvial_show', { 'id': form.get('value').routableId }) }}" class="btn">Cancel</a>
{% endblock modal_footer %}
