{% extends "VIBFliesBundle::layout.html.twig" %}

{% block content %}
    <h1>Edit vial {{ "%05d" | format(vial.id) }}</h1>
    {% include 'VIBFliesBundle:FlyVial:_form.html.twig'
       with {'form': form} %}
{% endblock %}
