{% extends "VIBBaseBundle:Form:form.html.twig" %}

{% set source = form.get('value').source %}

{% block modal_header %}
  Expand stock
  {% spaceless %}
  <span id="v_ajax_flyvial_expand_source_header">
  {% if source is not null %}
      {% if source.stock is not null %}
          {{ source.stock.name }}
      {% endif %}
  {% endif %}
  </span>
  {% endspaceless %}
{% endblock modal_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  {% if source is not null %}
    <a href="{{ path('flyvial_show', { 'id': source.routableId }) }}" class="btn">Cancel</a>
  {% else %}
    <a href="{{ path('flyvial_list') }}" class="btn">Cancel</a>
  {% endif %}
{% endblock modal_footer %}
