{% extends "VIBFliesBundle:FlyVial:list.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

{% block pheader %}Select vials{% endblock %}
    
{% block selector %}
<table id="barcode_select">
    <tr>
        <th><label for="barcode">To select vials, scan barcodes here:</label></th>
        <td><input id="barcode" type="text" value="" onchange="checkVial()" /></td>
        <td><span id="barcode_error"></span></td>
    </tr>
</table>
{% endblock %}

{% block pager %}{% endblock %}

{% block actionbutton %}
    {{ jq.button('Cancel',path('flyvial_list'),'ui-icon-closethick') }}
{% endblock %}