{% extends "VIBFliesBundle:Vial:list.html.twig" %}

{% block pheader %}Select vials{% endblock %}
    
{% block selector %}
<table id="barcode_select">
    <tr>
        <th><label for="barcode">To select vials, scan barcodes here:</label></th>
        <td><input id="barcode" type="text" value="" onchange="checkVial('stock')" /></td>
        <td id="barcode_error"></td>
    </tr>
</table>
{% endblock %}

{% block pager %}{% endblock %}
