{% extends "VIBSiteTemplateBundle::layout.html.twig" %}

{% block headline %}LNG FlyDB{% endblock headline %}

{% block content %}
<p>
  Welcome the to the LNG FlyDB. Use the menu above to access database resources.
  {% if app.user is empty %}
  You will redirected to the KU Leuven login
  page, where you can log in with your <b>u-number</b> and <b>email password</b>. After successful login you will see
  a list of your private stock vials.
  {% endif %}
</p>
<p>
  The website is still in development, so if you encounter any errors, please send an email to
  <a href="mailto:radoslaw.ejsmont@med.kuleuven.be">webmaster</a>, including
  description of what you were doing, URL from the address bar and the error message. I will try to fix the error as
  soon as possible.
</p>
<hr>
<h3>Updates and new features:</h3>
<ul>
  <li>
    <b>Racks - you can store your vials in barcoded racks.</b><br/>
    <span class="muted">To create a rack, go to Tools→New rack.<br/>
      To view a rack just scan its barcode into search or vial selection field.</span>
  </li>
  <li>
    <b>Autoprint - barcodes are printed automagically.</b><br/>
    <span class="muted">Autoprint can be enabled/disabled from the sidebar.</span>
  </li>
  <li>
    <b>Alternative labels for stock vials.</b><br/>
    <span class="muted">
      Like concise labels with stock name only? Stick to standard labels.
      Or maybe you prefer the whole genotype printed? Use alternative labels!
    </span>
  </li>
  <li>
    <b>Flip & trash batch action - less clicking.</b><br/>
    <span class="muted">Flip your vials and trash the old vials.<br/>
      New vials are places where the old one were</span>
  </li>
  <li>
    <b>Many bugfixes and UI improvements.</b>
  </li>
</ul>
{% endblock content %}


{% block header_row %}
<div class="span12">
  {% block page_header %}
  <div class="page-header">
        <h1>{{ block('headline') }}</h1>
  </div>
  {% endblock page_header %}
</div>
{% endblock header_row %}

{% block main_row %}
<div class="span12">
  {% block content_row %}
  <div class="row-fluid">
      {{ block('content') }}
  </div>
  {% endblock content_row %}
</div>
{% endblock main_row %}
