{% extends "VIBSiteTemplateBundle::layout.html.twig" %}

{% block headline %}LabDB{% endblock headline %}

{% block content %}
<p>
  Welcome the to the LabDB. Use the menu above to access database resources.
  {% if app.user is empty %}
  You will redirected to the login page, where you can log in with your <b>username</b>
  and <b>password</b>. After successful login you will see a list of your private stock vials.
  {% endif %}
</p>
<p>
  The website is still in development, so if you encounter any errors, please send an email to
  <a href="mailto:radoslaw@ejsmont.net">webmaster</a>, including description of what you were doing,
  URL from the address bar and the error message. I will try to fix the error as soon as possible.
</p>
<hr>
<h3>Updates and new features:</h3>
<p>
  There was a major update to the database. The welcome page may display inconsistent data until all of your
  living vials have been flipped and have gone through one lifecycle. Please read the changelog carefully and
  familiarize yourself with new features. In case of questions, you can always contant
  <a href="mailto:radoslaw@ejsmont.net">webmaster</a> for support.
</p>
<ul>
  <li>
    <b>ANTIBODIES !!!</b><br/>
    <span class="muted">Now we have more than flies in the database. Check out our cool antibodies!</span>
  </li>
  
</ul>
{% endblock content %}


{% block header_row %}
<div class="col-sm-12">
  {% block page_header %}
  <div class="page-header">
        <h1>{{ block('headline') }}</h1>
  </div>
  {% endblock page_header %}
</div>
{% endblock header_row %}

{% block main_row %}
<div class="col-sm-12">
  {% block content_row %}
    {{ block('content') }}
  {% endblock content_row %}
</div>
{% endblock main_row %}
